[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
        ignore = dirty
[submodule "bundle/Align"]
	path = bundle/Align
	url = git@github.com:vim-scripts/Align.git
        ignore = dirty
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
        ignore = dirty
[submodule "bundle/vim-gocode"]
	path = bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
