[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
        ignore = dirty
[submodule "bundle/Align"]
	path = bundle/Align
	url = git@github.com:vim-scripts/Align.git
        ignore = dirty
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
        ignore = dirty
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "bundle/vim-gocode"]
	path = bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
